body{
  font-family: "Roboto", sans-serif;
}
.main-container{
  margin-top: 6%;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.profile-container{
  height: 35rem;
  width: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.9rem;
}
.profile-left{ 
  height: 100%;
  min-width: 20rem;
  border-radius: 0.313rem;
  background: linear-gradient(276.31deg, #EFB506 -25.96%, rgba(255, 193, 7, 0.15) 180.24%);
  border-radius: 0.9rem 0 0 0.9rem;  
  display: grid;
  place-items: center;
  padding: 4% 0;
}
.profile-left-upper{
  display: grid;
  place-items: center;
  text-align: center;
}
.profile-left-upper h1{
  font-size: 2rem;
  font-family: DM Serif Display;
  font-weight: 500;
}
.profile-left-upper p{
  font-size: 1.15rem;
  color: white;
  padding: 0.313rem 0;
}
.profile-left-middle{
  img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
  }
}
.profile-left-lower{
  display: grid;
  place-items: center;
  h1{
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
    padding: 0.75rem 0;
  }
  .line{
    width: 100%;
  }
  p{
    font-size: 1rem;
    color: white;
  }
  .id{
    font-size: 1.25rem;
    color: #6E6E6E;
  }
}
.profile-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65rem;
}
.profile-style{
  height: 2rem;
  width: 25rem;
  background: linear-gradient(276.31deg, #EFB506 -25.96%, rgba(255, 193, 7, 0.15) 180.24%);
  display: grid;
  place-content: center;
  border-radius: 0.313rem;
  p{
    font-size: 1.15rem;
    color: white;
  }
}
.profile-right-upper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr{
  width: 35rem;
  border: 1px solid #000;
  opacity: 0.5;
  margin: 0.313rem 0;
}
.details ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.details ul li{
  display: flex;
  font-size: 1.15rem;
  gap: 1rem;
  margin: 0.5rem 0;
  h1{
    color: #000;
    font-size: 1.15rem;
    width: 13rem;
    text-wrap: nowrap;
  }
  span{
    font-weight: 300;
    color: #6E6E6E;
  }
  p{
    font-weight: 300;
    color: #6E6E6E;
  }
} 
.profile-right-lower{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}